<div>
  <h2 id="page-heading" data-cy="CompteurHeading">
    <span>Compteurs</span>

    <div class="d-flex justify-content-end">
      <div class="row box-search">
        <div class="col-lg3-md2">
          <input type="text" #searchBox (keyup)="search(searchBox.value)" class="form-control" />
        </div>
      </div>
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-compteur"
        [routerLink]="['/compteur/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Compteur</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="compteurs?.length === 0">
    <span>Aucun Compteur trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="compteurs && compteurs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="numero">
            <div class="d-flex">
              <span>Numero</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="type">
            <div class="d-flex">
              <span>Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="phase">
            <div class="d-flex">
              <span>Phase</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateDernierAchat">
            <div class="d-flex">
              <span>Date Dernier Achat</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="fabricant">
            <div class="d-flex">
              <span>Fabricant</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cumulEnergieMensuelle">
            <div class="d-flex">
              <span>Cumul Energie Mensuelle</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="client.id">
            <div class="d-flex">
              <span>Client</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let compteur of compteurs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/compteur', compteur.id, 'view']">{{ compteur.id }}</a>
          </td>
          <td>{{ compteur.numero }}</td>
          <td>{{ compteur.type }}</td>
          <td>{{ compteur.phase }}</td>
          <td>{{ compteur.dateDernierAchat | formatMediumDatetime }}</td>
          <td>{{ compteur.fabricant }}</td>
          <td>{{ compteur.cumulEnergieMensuelle }}</td>
          <td>
            <div *ngIf="compteur.client">
              <a [routerLink]="['/client', compteur.client.id, 'view']">{{ compteur.client.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <a [routerLink]="['/compteur', compteur.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">voir</span>
              </a>

              <a [routerLink]="['/compteur', compteur.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">editer</span>
              </a>

              <button type="submit" (click)="delete(compteur)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">suprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="compteurs && compteurs.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
