<!-- <nav data-cy="navbar" class="navbar navbar-dark navbar-expand-md bg-dark"> -->
<!-- <nav *ngIf="account !== null" data-cy="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
      <span class="logo-img"></span>
      <span class="navbar-title">Formation</span>
      <span class="navbar-version">{{ version }}</span>
    </a> -->
<!-- <a
      class="navbar-toggler d-lg-none"
      href="javascript:void(0);"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleNavbar()"
    >
      <fa-icon icon="bars"></fa-icon>
    </a> -->
<!-- <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="account !== null">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
            <span>
              <fa-icon icon="home"></fa-icon>
              <span>Accueil</span>
            </span>
          </a>
        </li>
        jhipster-needle-add-element-to-menu - JHipster will add new menu items here
        <li
          *ngSwitchCase="true"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" data-cy="entity">
            <span>
              <fa-icon icon="th-list"></fa-icon>
              <span>Entités</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu">
            <li>
              <a
                class="dropdown-item"
                routerLink="/client"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Client</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/compteur"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Compteur</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/facture"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Facture</span>
              </a>
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLink="/payment"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                (click)="collapseNavbar()"
              >
                <fa-icon icon="asterisk" [fixedWidth]="true"></fa-icon>
                <span>Payment</span>
              </a>
            </li>
            jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here
          </ul>
        </li>
        <li
          *jhiHasAnyAuthority="'ROLE_ADMIN'"
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" data-cy="adminMenu">
            <span>
              <fa-icon icon="users-cog"></fa-icon>
              <span>Administration</span>
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
            <li>
              <a class="dropdown-item" routerLink="/admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="users" [fixedWidth]="true"></fa-icon>
                <span>Gestion des utilisateurs</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tachometer-alt" [fixedWidth]="true"></fa-icon>
                <span>Métriques</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/health" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="heart" [fixedWidth]="true"></fa-icon>
                <span>Diagnostics</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="cogs" [fixedWidth]="true"></fa-icon>
                <span>Configuration</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="tasks" [fixedWidth]="true"></fa-icon>
                <span>Logs</span>
              </a>
            </li>
            <li *ngIf="openAPIEnabled">
              <a class="dropdown-item" routerLink="/admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                <fa-icon icon="book" [fixedWidth]="true"></fa-icon>
                <span>API</span>
              </a>
            </li>
            jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here
          </ul>
        </li>
        <li
          ngbDropdown
          class="nav-item dropdown pointer"
          display="dynamic"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu" data-cy="accountMenu">
            <span *ngIf="!account?.imageUrl">
              <fa-icon icon="user"></fa-icon>
              <span>Compte</span>
            </span>
            <span *ngIf="account?.imageUrl">
              <img [src]="account!.imageUrl" class="profile-image rounded-circle" alt="Avatar" />
            </span>
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
            <li *ngSwitchCase="true">
              <a
                class="dropdown-item"
                routerLink="/account/settings"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="settings"
              >
                <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
                <span>Profil</span>
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a
                class="dropdown-item"
                routerLink="/account/password"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="passwordItem"
              >
                <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
                <span>Mot de passe</span>
              </a>
            </li>
            <li *ngSwitchCase="true">
              <a class="dropdown-item" (click)="logout()" id="logout" data-cy="logout">
                <fa-icon icon="sign-out-alt" [fixedWidth]="true"></fa-icon>
                <span>Déconnexion</span>
              </a>
            </li>
            <li *ngSwitchCase="false">
              <a class="dropdown-item" (click)="login()" id="login" data-cy="login">
                <fa-icon icon="sign-in-alt" [fixedWidth]="true"></fa-icon>
                <span>S'authentifier</span>
              </a>
            </li>
            <li *ngSwitchCase="false">
              <a
                class="dropdown-item"
                routerLink="/account/register"
                routerLinkActive="active"
                (click)="collapseNavbar()"
                data-cy="register"
              >
                <fa-icon icon="user-plus" [fixedWidth]="true"></fa-icon>
                <span>Créer un compte</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div> -->
<!-- <button *ngIf="account !== null" (click)="logout()" type="button" class="btn btn-light" mdbRipple rippleColor="dark">Déconnexion</button>
  </div>
</nav> -->

<!--Main Navigation-->
<header *ngIf="account !== null">
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar col-md-3 collapse bg-white">
    <div>
      <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
        <span class="logo-img"></span>
      </a>
    </div>
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a routerLink="/client" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
          <fa-icon icon="users"></fa-icon>&nbsp;
          <span>Client</span>
        </a>
        <a routerLink="/compteur" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple">
          <fa-icon icon="asterisk"></fa-icon>&nbsp;<span>Compteurs</span>
        </a>
        <a routerLink="/facture" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple"
          ><fa-icon icon="asterisk"></fa-icon>&nbsp;<span>factures</span></a
        >
        <a routerLink="/payment" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple"
          ><fa-icon icon="asterisk"></fa-icon>&nbsp;<span>Paiement</span></a
        >
        <a
          routerLink="/admin/metrics"
          routerLinkActive="active"
          class="list-group-item list-group-item-action py-2 ripple"
          (click)="collapseNavbar()"
        >
          <fa-icon icon="tachometer-alt" [fixedWidth]="true"></fa-icon>
          <span>Métriques</span>
        </a>
        <a
          class="list-group-item list-group-item-action py-2 ripple"
          routerLink="/admin/health"
          routerLinkActive="active"
          (click)="collapseNavbar()"
        >
          <fa-icon icon="heart" [fixedWidth]="true"></fa-icon>
          <span>Diagnostics</span>
        </a>
        <a
          routerLink="/account/settings"
          routerLinkActive="active"
          class="list-group-item list-group-item-action py-2 ripple"
          data-cy="settings"
        >
          <fa-icon icon="wrench" [fixedWidth]="true"></fa-icon>
          <span>Profil</span>
        </a>
        <a routerLink="/account/password" routerLinkActive="active" class="list-group-item list-group-item-action py-2 ripple">
          <fa-icon icon="lock" [fixedWidth]="true"></fa-icon>
          <span>Mot de passe</span>
        </a>
        <!-- <a 
          routerLink="/user"
          routerLinkActive="active"
          class="list-group-item list-group-item-action py-2 ripple">
            <fa-icon icon="asterisk"></fa-icon>&nbsp;<span>user</span>
          </a> -->
        <!-- <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><fa-icon icon="sync"></fa-icon><span>Orders</span></a
          >
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><fa-icon icon="sync"></fa-icon><span>International</span></a
          >
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><fa-icon icon="sync"></fa-icon><span>Partners</span></a
          >
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><fa-icon icon="sync"></fa-icon><span>Calendar</span></a
          >
          <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><fa-icon icon="sync"></fa-icon><span>Users</span></a
          > -->
        <!-- <a href="#" class="list-group-item list-group-item-action py-2 ripple"
            ><i class="fas fa-money-bill fa-fw me-3"></i><span>Sales</span></a
          > -->
      </div>
    </div>
    <button
      *ngIf="account !== null"
      (click)="logout()"
      data-cy="entityConfirmDeleteButton"
      type="submit"
      class="btn btn-danger button-logout"
    >
      <fa-icon icon="times"></fa-icon>&nbsp;<span>Déconnexion</span>
    </button>
    <!-- <button *ngIf="account !== null" (click)="logout()" type="button" class="btn btn-secondary-theme button-logout" mdbRipple rippleColor="dark">Déconnexion</button> -->
  </nav>
  <!-- Sidebar -->

  <!-- <div class="col-md-3"></div>
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white col-md-9 fixed-top">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#sidebarMenu"
        aria-controls="sidebarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>

      <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()">
        <span class="logo-img"></span>
        <span class="navbar-title">Formation</span>
        <span class="navbar-version">{{ version }}</span>
      </a>

      <ul class="navbar-nav ms-auto d-flex flex-row">
        <button *ngIf="account !== null" (click)="logout()" type="button" class="btn btn-secondary-theme" mdbRipple rippleColor="dark">Déconnexion</button>
      </ul>
    </div>
  </nav> -->
  <!-- Navbar -->
</header>
